/*
 * (c) Tunghsiao Liu.
 *
 * kai-11 - v1.5.6 (05-21-2013)
 * http://sparanoid.com/work/kai/
 * GPLv2 - http://wordpress.org/about/gpl/
 */
// Add shadow effect to main wrapper,no -webkit or -moz vendor here,plz body,input,textarea{font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif}// Enables 3D acceleration to gain some performance #primary{-webkit-transform:translate3d(0,0,0);-webkit-backface-visibility:hidden;-webkit-perspective:1000}// Fix b tag b{font-weight:700}// It looks terrible #branding{border-top:0}// Remove search input when .one-column .one-column .only-search{display:none}// No more stupid shadows and gradient #access{background:#000;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}// Change shadows apperance for sub-menus #access ul ul{-webkit-box-shadow:0 1px 5px rgba(0,0,0,.1);-moz-box-shadow:0 1px 5px rgba(0,0,0,.1);box-shadow:0 1px 5px rgba(0,0,0,.1)}// Better menu styles #access .current_page_item{background:#fff}#access .current_page_item a{color:#111}#access .current_page_item>a,#access .current_page_ancestor>a{font-weight:inherit}#access li:hover>a,#access a:focus{background:#fff;background:-webkit-linear-gradient(#eee,#fff);background:-moz-linear-gradient(#eee,#fff);background:linear-gradient(#eee,#fff)}// Better intro styles article.intro{margin:-2em -9% 1.625em}// Remove arrow for comments in one column .commentlist>li:before{display:none}// No shadows and #fff background for user avatar img.avatar{background:none!important;-webkit-box-shadow:none!important;-moz-box-shadow:none!important;box-shadow:none!important}// Specified style fix for Gallery post type article.intro p{margin-bottom:1em}// Make sure videos and images that larger than container width display correctly. Although in WordPress 3.1,images uploaded through built-in and inserted via its media manager can have currect width,but hard coded images still need this. // Update:in 3.2 no longer need workaround for images,but video does. .entry-content video,.comment-content video,.widget video{max-width:97.5%}// Set same font size and line height as what homepage looks like .singular .entry-title{font-size:30px;line-height:1.5em}// Thinner .entry-title,.singular .entry-title{font-weight:200}// Lighter background for image post type .indexed.format-image footer.entry-meta{background:#eee}.indexed.format-image footer.entry-meta a:hover{color:inherit}// Better respond styles #respond{background:#eee}#respond input[type=text],#respond textarea{border-color:#ddd;-webkit-box-shadow:none;-moz-box-shadow:none;box-shaodw:none}#respond .comment-form-author label,#respond .comment-form-email label,#respond .comment-form-url label,#respond .comment-form-comment label{top:48px;left:4px;padding:7px 10px;font-size:14px;background:#ddd;-webkit-box-shadow:none;-moz-box-shadow:none;box-shaodw:none}#respond .comment-form-author .required,#respond .comment-form-email .required{top:56px}// Better look for feed list .rss-date{padding:1px 4px;font-size:10px;font-weight:400;color:#fff;background:#ccc;border-radius:2px;-webkit-box-decoration-break:clone;-moz-box-decoration-break:clone;box-decoration-break:clone}// Better code wrapping in containter code{color:#784;word-break:break-all;word-wrap:break-word}// Override WP Colored Coding Plugin styles .wp-cc{pre{word-wrap:normal;code{word-break:normal;word-wrap:normal}}}pre{overflow:auto}// Try to prevent layout breakers .comment-content{word-wrap:break-word}// Fix search box position with header image but without title #branding .only-search+#access div{padding-right:0}// Pagination floating fix,your code really sucks #nav-single .nav-previous{float:left}#nav-single .nav-next{float:right}// Add a bit background color for widgets in footer,please not it doesn't work with the dark mode yet.
#colophon { background: #fcfcfc; }

// Well styles from Bootstrap by Twitter
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, .05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

// Better style for Jetpack by WordPress.com
#respond p.comment-subscription-form { margin: 0; }

// Better look for sidebar widgets on small screens, most of the following crappy shit is about making the world more beautiful.
.one-column .widget_twentyeleven_ephemera ol {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}
.one-column #archives ul,
.one-column #meta ul,
.one-column .widget_pages ul,
.one-column .widget_archive ul,
.one-column .widget_categories ul,
.one-column .widget_links ul,
.one-column .widget_meta ul {
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
}
  ul.children {
    margin-left: 0 !important;
    -webkit-column-count: 0;
       -moz-column-count: 0;
            column-count: 0;
  }

@media (max-width: 800px) {
  .widget_twentyeleven_ephemera ol,
  .widget_recent_entries ul {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
  #archives ul,
  #meta ul,
  .widget_pages ul,
  .widget_archive ul,
  .widget_categories ul,
  .widget_links ul,
  .widget_meta ul {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
    ul.children {
      margin-left: 0 !important;
      -webkit-column-count: 0;
         -moz-column-count: 0;
              column-count: 0;
    }

  // Make sure the logo and search form [del]don't collide[/del] cleverer than the original. #branding .with-image #searchform{top:auto!important}#branding .only-search #s{width:0}#branding .only-search #s:focus{width:85%}}@media (max-width:650px){#archives ul,#meta ul,.widget_pages ul,.widget_archive ul,.widget_categories ul,.widget_links ul,.widget_meta ul{-webkit-column-count:3;-moz-column-count:3;column-count:3}.one-column #archives ul,.one-column #meta ul,.one-column .widget_pages ul,.one-column .widget_archive ul,.one-column .widget_categories ul,.one-column .widget_links ul,.one-column .widget_meta ul{-webkit-column-count:3;-moz-column-count:3;column-count:3}ul.children{margin-left:0!important;-webkit-column-count:0;-moz-column-count:0;column-count:0}// Fix search box position without header image and title #branding hgroup+.only-search{display:none}}@media (max-width:450px){.widget_twentyeleven_ephemera ol,.widget_recent_entries ul{-webkit-column-count:0;-moz-column-count:0;column-count:0}#archives ul,#meta ul,.widget_pages ul,.widget_archive ul,.widget_categories ul,.widget_links ul,.widget_meta ul{-webkit-column-count:2;-moz-column-count:2;column-count:2}.one-column #archives ul,.one-column #meta ul,.one-column .widget_pages ul,.one-column .widget_archive ul,.one-column .widget_categories ul,.one-column .widget_links ul,.one-column .widget_meta ul{-webkit-column-count:2;-moz-column-count:2;column-count:2}ul.children{margin-left:0!important;-webkit-column-count:0;-moz-column-count:0;column-count:0}}