/*!
	Twenty Eleven Kai by Sparanoid
	Read more: http://nio2.com/resources/twentyeleven-kai/

*/

/* Add shadow effect to main wrapper, no -webkit or -moz vendor here, plz */
body, input, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, STHeiti, "Microsoft YaHei", "Hiragino Kaku Gothic Pro", sans-serif;
}

#page {
	box-shadow: rgba(0, 0, 0, .1) 0 5px 20px;
}

/* No more stupid shadows and gradient */
#access {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #000;
}

/* Change shadows apperance */
#access ul ul {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

/* The headr is too FUCKING BIG */
#site-title {
	padding: 1.5em 0 0;
}

/* The headr is too FUCKING BIG */
#site-description {
	margin-bottom: 1.3em;
}

/* The headr is too FUCKING BIG */
#branding #searchform,
.one-column #branding #searchform {
	top: 1.8em;
}

/* The headr is too FUCKING BIG */
#branding .with-image #searchform {
	top: auto;
}

/* The headr is too FUCKING BIG */
#site-title a {
	font-size: 20px;
/*	font-weight: normal;*/
	line-height: 1;
}

/* No shadows and white background for user avatar */
img.avatar {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background: none !important;
}

/*
   Make sure videos and images that larger than container width display correctly. 
   Although in WordPress 3.1, images uploaded through built-in and inserted via its
   media manager can have currect width, but hard coded images still need this. 

   Update: in 3.2 no longer need workaround for images, but video does.
*/
.entry-content video,
.comment-content video,
.widget video {
	max-width: 97.5%;
}

/* Set same font size and line height as what homepage looks like */
.singular .entry-title {
	font-size: 26px;
	line-height: 1.5em;
}

/* Better code wrapping in containter */
code {
	color: #784;
	word-break: break-all;
	word-wrap: break-word;
}

pre {
	overflow: auto;
}

/* Try to prevent layout breakers */
.comment-content {
	word-wrap: break-word;
}

/* Make sure the logo and search form [del]don't collide[/del] cleverer than the original */
@media (max-width: 650px) {
	#branding .with-image #searchform {
		top: 2.4em !important;
	}
}